// Generic SIZES
$layout-size-0: 1rem;
$layout-size-1: 1.1rem;
$layout-size-2: 1.2rem;
$layout-size-3: 1.3rem;
$layout-size-4: 1.4rem;
$layout-size-5: 1.5rem;
$layout-size-6: 1.6rem;

// LAYOUT
$side-margin1: 11.5rem; // width of left side bar.
$side-margin2: 9.5rem; // width of right side bar.

$top-menu-height: 2.5rem;
$top-menu-height-2: 4.5rem;
$address-bar-min-width: 25rem;
