::-webkit-scrollbar {
  width: $scroll-bar-width;
  height: $scroll-bar-height;
} /*horizontal*/
::-webkit-scrollbar-track {
  //   background: $scroll-bar-background-color;
  background: rgb(227, 227, 227);
}
::-webkit-scrollbar-thumb {
  //   background: $scroll-bar-color;
  background: rgb(138, 138, 138);
  border-radius: $scroll-bar-border-radius;
}
::-webkit-scrollbar-thumb:hover {
  //   background: $scroll-bar-hover-color;
  background: rgb(81, 81, 81);
}
svg,
img {
  pointer-events: none;
  vertical-align: top;
}

:not(input).unselectable * {
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;

  user-select: none;
}

input[type='color'] {
  height: 1.2rem;
}
