@font-face {
  font-family: 'PlaywriteItModernaRegular';
  src: url('./fonts/Playwrite_IT_Moderna/static/PlaywriteITModerna-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSansRegular';
  src: url('./fonts/NotoSans/static/NotoSans-Medium.ttf') format('truetype');
}
